<div class="container">
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">ECommerce Catalogues</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div routerLink="/admin/products" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/images/product.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Products Catalogue</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../../../../assets/images/product.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div routerLink="/admin/types" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/images/type.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Product Types Catalogue</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../../../../assets/images/type.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div routerLink="/admin/brands" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../../assets/images/brand.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Product Brands Catlogue</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="../../../../assets/images/brand.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>